<% include top %>
    <form action="/doLogin" method="POST">
        <h2>Log in</h2>
        <p><label for="username">Username:</label>
        <input type="text" name="username" id="username" placeholder="Enter username" required/></p>

        <p><label for="password">Password:</label>
        <input type="password" name="password" id="password" placeholder="Enter password" required/></p>

        <p><input type="submit" value="Log in"></p>

        <div class="error-message"><%= message %></div>
    </form>
<% include bottom %>
