<!DOCTYPE html>
<html>
<head>
    <title><%= title %> | MyNotes</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
</head>
<body>
    <div class="page-title">MyNotes</div>
    <div class="navbar">
        <a href="/">Home</a> | <a href="/noteadd">Add Note</a> |
        <% if (user) { %>
            Logged in as <a href="/account"><%= user.username %></a> | <a href="/logout">Logout</a>
        <% } else { %>
            <a href="/login">Log in</a>
        <% } %>
    </div>
    <br/>
