<!DOCTYPE html>
<html>
<head>
    <title><%= title %> | Notes</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
</head>
<body>
    <div class="page-title">Notes</div>
    <div class="navbar">
        <a href="/">Home</a> | <a href="/noteadd">Add Note</a>
    </div>
    <br/>
