body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.page-title {
    font-family: sans-serif;
    font-size: 40px;
    font-weight: bold;
}

.error-message {
    color: red;
}

a {
  color: #00B7FF;
}
